html, body {
    height: 100%;
    width: 100%;
  }
  
  #input{
    height:50px;
    width:500px;
  }
  #innerContainer{
    display:flex;
    flex-direction: column;
    width:500px;
  }
  
  #btn{
      height:40px;
    width: 140px;
    margin: 20px auto;
    background-color: green;
    color: white;
    border-radius: 30px;
   
  }